extends common/layout.pug

block main-content
  .container.mt-5
    .row
      .col-md-12 
        a(href="/").btn.btn-danger.btn-sm.mb-3 Back
      .col-md-4
        if details.poster_path
          img.img-fluid.rounded.shadow-lg(src=`https://image.tmdb.org/t/p/w500${details.poster_path}`, alt=details.title || details.name)
        else
          img.img-fluid.rounded.shadow-lg(src="/img/no-poster.png", alt="No poster available")

      .col-md-8
        .bg-dark.p-4.rounded.shadow
          h2.text-danger.mb-3= details.title || details.name

          if details.overview
            p.mb-3
              strong.text-white Overview:
              |  #{details.overview}

          p.mb-3
            strong.text-white Rating:
            span.badge.bg-success.ms-2 #{details.vote_average} / 10

          if details.credits && details.credits.cast.length
            h4.mt-4.mb-2.text-secondary Top Cast
            ul.list-group
              each cast in details.credits.cast.slice(0, 5)
                li.list-group-item.d-flex.justify-content-between.align-items-center.bg-dark.text-white
                  span= cast.name
                  small.text-muted as #{cast.character}

          h4.mt-4.mb-2.text-secondary Where to Watch
          if streaming.length
            .row
              each source in streaming
                .col-md-4.mb-2
                  a.btn.btn-outline-info.w-100(href=source.web_url, target="_blank")
                    i.bi.bi-play-circle-fill.me-2
                    = source.name
          else
            p.text-muted No streaming sources found.
